html {
  overflow-y: scroll;
  min-width: 360px;
  position: relative;
}
html body {
  margin-bottom: 2rem;
  font-family: "Microsoft JhengHei UI", Arial, sans-serif, monospace;
  min-height: calc(100vh - 2rem);
}
a:hover {
  text-decoration: none;
}
header h1,
header h2,
header h3,
header h4 {
  font-weight: 600;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: right;
  z-index: 100;
}
.loader {
  border: 16px solid #666;
  /* Light grey */
  border-top: 16px solid #5cb85c;
  /* Blue */
  border-radius: 50%;
  margin: 20vh auto;
  width: 120px;
  height: 120px;
  animation: spin 0.8s linear infinite;
  background-color: transparent;
}
.menu {
  font-family: Arial, monospace;
}
.text-wrap {
  word-wrap: break-word;
}
.font-important {
  font-size: 18px;
  font-weight: 500;
}
.notmatch {
  background-color: #faa;
  border: 1px solid #f00;
}
/*scrollbar*/
.noscrollbar {
  overflow-x: scroll;
  -ms-overflow-style: scrollbar;
  white-space: nowrap;
}
.header-main {
  font-size: 52px;
  font-weight: 800;
}
.login-parent {
  text-align: center;
}
.login-plat {
  display: inline-block;
  min-width: 320px;
  width: 40%;
  text-align: left;
}
.congratulations {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 30%;
}
.menu > li {
  padding: 0.25rem 0.5rem;
}
.menu > li:hover {
  background-color: #eee;
  cursor: pointer;
}
.btn-gotop {
  bottom: 20px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.btn.btn-square {
  border: none !important;
  border-radius: 0;
}
/*xs 不應用 padding*/
@media screen and (max-width: 639px) {
  .pd-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pd-h-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
  min-width: 360px;
}
/*effect*/
.text-shadow {
  text-shadow: 0px 0px 5px #333;
}
.box-shadow {
  box-shadow: 0px 3px 5px #999;
}
.box-shadow-in {
  box-shadow: 1px 1px 10px #666 inset;
}
.table {
  margin-bottom: 0px !important;
}
.table th {
  border: none !important;
  font-weight: 600;
  font-variant: caption;
  font-size: 14px;
  color: white;
}
.table td {
  border: none !important;
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
}
.table-status tbody > tr {
  cursor: pointer;
}
.table-status tbody > tr:hover {
  opacity: 0.8;
}
.table-hover tbody > tr > td {
  text-overflow: ellipsis;
  max-width: 30rem;
  overflow: hidden;
}
.table-responsive {
  border: none;
}
.pd-0 {
  padding: 0px;
}
.pd-t-0 {
  padding-top: 0px;
}
.pd-b-0 {
  padding-bottom: 0px;
}
.pd-v-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pd-h-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.pd-1 {
  padding: 1rem;
}
.pd-t-1 {
  padding-top: 1rem;
}
.pd-b-1 {
  padding-bottom: 1rem;
}
.pd-v-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pd-h-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pd-2 {
  padding: 2rem;
}
.pd-t-2 {
  padding-top: 2rem;
}
.pd-b-2 {
  padding-bottom: 2rem;
}
.pd-v-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pd-h-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.pd-3 {
  padding: 3rem;
}
.pd-t-3 {
  padding-top: 3rem;
}
.pd-b-3 {
  padding-bottom: 3rem;
}
.pd-v-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pd-h-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.mg-0 {
  margin: 0px;
}
.mg-t-0 {
  margin-top: 0px;
}
.mg-b-0 {
  margin-bottom: 0px;
}
.mg-v-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mg-h-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mg-1 {
  margin: 1rem;
}
.mg-t-1 {
  margin-top: 1rem;
}
.mg-b-1 {
  margin-bottom: 1rem;
}
.mg-v-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mg-h-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mg-2 {
  margin: 2rem;
}
.mg-t-2 {
  margin-top: 2rem;
}
.mg-b-2 {
  margin-bottom: 2rem;
}
.mg-v-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mg-h-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mg-3 {
  margin: 3rem;
}
.mg-t-3 {
  margin-top: 3rem;
}
.mg-b-3 {
  margin-bottom: 3rem;
}
.mg-v-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mg-h-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.text-blue {
  color: #7bf;
}
.bkg-blue {
  background-color: #7bf;
}
.text-red {
  color: #d9534f;
}
.bkg-red {
  background-color: #d9534f;
}
.text-green {
  color: #5cb85c;
}
.bkg-green {
  background-color: #5cb85c;
}
.text-purple {
  color: #c8f;
}
.bkg-purple {
  background-color: #c8f;
}
.text-gray {
  color: #eee;
}
.bkg-gray {
  background-color: #eee;
}
.text-dark-gray {
  color: #333;
}
.bkg-dark-gray {
  background-color: #333;
}
.text-yellow {
  color: #f0ad4e;
}
.bkg-yellow {
  background-color: #f0ad4e;
}
.text-white {
  color: white;
}
.bkg-white {
  background-color: white;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
